<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <!--[if lt IE 9]>
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <!--<![endif]-->
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
  <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!--/*@thymesVar id="taskName" type=""*/-->
  <title th:text="${taskName}">redis task</title>
</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <table class="table table-striped table-bordered">
        <caption>String</caption>
        <thead>
        <tr>
          <th>Key</th>
          <th>Encoding</th>
          <!--<th>Count</th>-->
          <th>Idle time</th>
          <th>Valid time</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="stringList" type=""*/-->
        <tr th:each="collect,iterStat : ${stringList}">
          <td th:text="${collect['key']}">Key</td>
          <td th:text="${collect['encoding']}">Encoding</td>
          <!--<td th:text="${collect['count']}">0</td>-->
          <td th:text="${collect['idleTime']}">0</td>
          <td th:text="${collect['validTime']}">0</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-striped table-bordered">
        <caption>List</caption>
        <thead>
        <tr>
          <th>Key</th>
          <th>Encoding</th>
          <!--<th>Count</th>-->
          <th>Idle time</th>
          <th>Valid time</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="listList" type=""*/-->
        <tr th:each="collect,iterStat : ${listList}">
          <td th:text="${collect['key']}">Key</td>
          <td th:text="${collect['encoding']}">Encoding</td>
          <!--<td th:text="${collect['count']}">0</td>-->
          <td th:text="${collect['idleTime']}">0</td>
          <td th:text="${collect['validTime']}">0</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-striped table-bordered">
        <caption>Hash</caption>
        <thead>
        <tr>
          <th width="50%">Key</th>
          <th>Encoding</th>
          <!--<th>Count</th>-->
          <th>Idle time</th>
          <th>Valid time</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="hashList" type=""*/-->
        <tr th:each="collect,iterStat : ${hashList}">
          <td th:text="${collect['key']}">Key</td>
          <td th:text="${collect['encoding']}">Encoding</td>
          <!--<td th:text="${collect['count']}">0</td>-->
          <td th:text="${collect['idleTime']}">0</td>
          <td th:text="${collect['validTime']}">0</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <caption>Info</caption>
      <thead>
      <tr>
        <th>Clients</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Others</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--/*@thymesVar id="redisInfoMap" type=""*/-->
        <td>
          <ul class="list-unstyled">
            <li th:each="collect,iterStat : ${redisInfoMap['Clients']}" th:text="${collect}">collect</li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            <li th:each="collect,iterStat : ${redisInfoMap['CPU']}" th:text="${collect}">collect</li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            <li th:each="collect,iterStat : ${redisInfoMap['Memory']}" th:text="${collect}">collect</li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            <li th:each="collect,iterStat : ${redisInfoMap['Keyspace']}" th:text="${collect}">collect</li>
            <li th:each="collect,iterStat : ${redisInfoMap['Replication']}" th:text="${collect}">collect</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>